* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.flag {
  display: inline-block;
  width: 30px;
}

.countries-list__name {
  display: inline-block;
  margin: 0;
}
.countries-list__item {
  list-style-type: none;
}

.country-card {
  display: flex;
  border: 1px solid black;
}
.country-list {
  padding: 0;
}

.country-flag {
  width: 200px;
  display: inline-block;
}

.country-main {
  /* display: flex; */
  border: 1px solid black;
  width: 30%;
}
.country-flag-container {
  display: flex;
}
